/* styles/Sidebar.css */
.sidebar {
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
}

.sidebar p {
  margin-top: 20px;
  cursor: pointer;
}

.reminder_img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px 5px 0px 0px;
}